/* Design global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

/* Panneau de gauche pour l'ajout de mots et la traduction */
.left-panel {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.left-panel h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.form-section, .translate-section {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.form-section h2, .translate-section h2 {
    font-size: 22px;
    color: #007BFF;
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Panneau de droite pour la liste des mots */
.right-panel {
    flex: 1;
    padding: 20px;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
    overflow-y: auto;
}

.right-panel h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#wordList {
    list-style-type: none;
    padding: 0;
}

#wordList li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.edit-button {
    background-color: #28a745;
    color: white;
    margin-right: 5px;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.edit-button:hover {
    background-color: #218838;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Modale pour afficher la traduction */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}
